.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
}

.heading-container {
    margin-top: 5em;
}

.heading {
    font-family: var(--header-ff);
    font-size: var(--mobile-lfs);
    font-weight: var(--lfw);
    color: var(--aclr);
}

.instruction {
    font-family: var(--text-ff);
    font-size: var(--vsfs);
    font-weight: var(--sfw);
    color: var(--text-clr);
}
.img {
    box-shadow: var(--bs);
}

.main {
    margin-top: 1.5rem;
}

input {
    height: 2.5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-family: var(--text-ff);
    font-size: var(--vsfs);
    font-weight: var(--sfw);
    color: var(--text-clr);
    background: var(--input-bgclr);
    border: 0.5px solid var(--text-clr);
    border-radius: 3px;
    outline: none;
    padding-left: 1em;

}

.btn {
    font-family: var(--text-ff);
    font-size: var(--mfs);
    font-weight: var(--mfw);
    color: var(--bgclr);
    cursor: pointer;
    background: var(--aclr);
    margin-top: 1.5rem;
    width: 100%;
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 5px;
}

.btn:hover {
opacity: 0.9;
}
